/*Design de Joana*/
:root {
    --mainColor: #E5844B;
    --secondaryColor: #FFBE98;
    --tertiaryColor: #FAFAFA;
    --darkColor: #662600;
    --successColor: #2C7F4C;
    --warningColor: #F88E2A;
    --dangerColor: #972727;
}

body {
    font-family: "Exo", sans-serif;
    line-height: 1.6;
    background-color: var(--tertiaryColor);
}

h1, h2, h3, h4 { font-weight: 700; }

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 600px;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    color : var(--secondaryColor);
}

.navbar {
    margin: 0 20px;
}

.navbar li {
    list-style: none;
}

.navbar p, .navbar li, .navbar a {
    padding: 20px;
    font-weight: 500;
}

.navbar p {
    font-size: 24px;
}

.navbar li:last-child a {
    color: var(--tertiaryColor);
}

.title {
    position: absolute;
    bottom: -1%;
    left: 10%;
}

h1 {
    background-color: var(--tertiaryColor);
    padding: 10px 20px;
    border-radius: 10px;
    color : var(--mainColor);
}

.square1, .square2 {
    width: 40px;
    height: 40px;
    background-color: var(--tertiaryColor);
    border-radius: 10px;
}

.square1 {
    position: absolute;
    top: -45%;
    right: -8%;
}

.square2 {
    position: absolute;
    top: 0;
    right: -20%;
}

.wrapper {
    max-width: 1000px;
    margin: 60px auto;
    color : var(--mainColor);
}

section.flex {
    justify-content: space-around;
}

.card {
    width: 400px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 2px #00000025;
    overflow: hidden;
}

.card img {
    height: 400px;
    position: relative;
    left: -25%;
}

.building_info {
    padding: 0 20px;
}

.building_info p {
    margin: 10px 0;
}

.announce {
    margin: 40px 0;
}

.button {
    margin: 20px auto;
    width: 240px;
    padding: 20px;
    color: var(--tertiaryColor);
    background-color: var(--mainColor);
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    transition: 500ms;
    display: block;
    padding: 20px;
    color: var(--tertiaryColor);
    transition: 500ms;
}

.button:hover {
    background-color: var(--darkColor);
}

footer {
    text-align: center;
    height: 200px;
    background-color : var(--secondaryColor);
    color : var(--tertiaryColor);
}

footer p {
    position: relative;
    top : 50%;
}